<ion-view view-title="Account" hide-nav-bar="true" hide-back-button="true">
  <ion-content>
    <div class="header">
      <div id="company"></div>
      <div id="thex">
        <div class="rect">
          X
        </div>
      </div>
    </div>
	  <h4 class="deliveryBoys">THE NEAREST CHAKHNA BOYS:</h4>

	  <div class="" id="personsList">
	    <table class="table table-striped" id="personTable">
	      <!-- <thead> -->
	        <tr>
	          <th>Name</th>
	          <th>Number</th>
	        </tr>
	      <!-- </thead>
	      <tbody>

	      </tbody> -->
	    </table>
	  </div>
  </ion-content>
</ion-view>
