<ion-view view-title="Chats" hide-nav-bar="true" hide-back-button="true">
  <ion-content>
    <div class="headerSecond">
      <div id="companySecond"></div>
      <div id="thexSecond">
        <div class="rectSecond">
          X
        </div>
      </div>
    </div>
    <div class="infoPanel">
      <div class="inputParts">
        <input type="text" name="username" placeholder="ENTER YOUR NAME" id="name" value="" class="secondScreenBtn">
        <i class="fa fa-user icons"></i>
      </div>
      <div class="inputParts">
        <input type="text" name="password" placeholder="ENTER YOUR NUMBER" value="" id="number" class="secondScreenBtn">
        <i class="fa fa-lock icons"></i>
      </div>
      <!-- <input type="text" name="username" placeholder="ENTER YOUR NAME" id="name" value="" class="firstScreenBtn"> -->
      <!-- <input type="text" name="password" placeholder="ENTER YOUR NUMBER" value="" id="number" class="firstScreenBtn"> -->
      <input type="button" name="submit" value="CONNECT ME" id="submit">
    </div>
    <div id="emptyFields">You have to enter all fields</div>
    <div id="hidden_form_container" style="display:none;"></div>
  </ion-content>
</ion-view>
