<ion-view view-title="Account" hide-nav-bar="true" hide-back-button="true">
  <ion-content style="background-image: url({{ bgimg }}); background-size: 100%;
  background-repeat: no-repeat">
    <ion-refresher on-refresh="doRefresh()">
    </ion-refresher>
    <div class="headerThird">
      <div id="companyThird"></div>
      <div id="thexThird">
        <div class="rectThird">
          X
        </div>
      </div>
    </div>
	  <h4 class="deliveryBoys">THE NEAREST CHAKHNA BOYS:</h4>

	  <div class="" id="personsList">
	    <table class="table table-striped" id="personTable">
        <thead>
          <tr>
            <th>Name</th>
            <th>Number</th>
          </tr>
        </thead>
	    </table>
	  </div>

    <div id="map"></div>

    <button type="button" name="button" class="thirdScreenBtn" id="mapView">SEE THE MAP VIEW</button>
    <button type="button" name="button" class="thirdScreenBtn" id="listView" style="display: none;">SEE THE LIST VIEW</button>
  </ion-content>
</ion-view>
